[user]
pinned=/usr/share/applications/org.kde.kpat.desktop;/usr/share/applications/org.kde.kreversi.desktop;/home/tom/.local/share/applications/kindlereader.desktop;/home/tom/.local/share/applications/netflix.desktop;/usr/share/applications/ranger.desktop;/usr/share/applications/org.wezfurlong.wezterm.desktop;/usr/share/applications/Alacritty.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/sublime_text.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/thorium-browser.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/freetube.desktop;
