[user]
pinned=/usr/share/applications/xfce-settings-manager.desktop;/home/tom/.local/share/applications/ranger.desktop;/usr/share/applications/Alacritty.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/sublime_text.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/google-chrome.desktop;
